<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-M5laJhDep_bKpZt0K8_UWtNxdXVBUWA</string>
	<key>GCM_SENDER_ID</key>
	<string>201354427562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marwinraabe.uwuploy.uwuployyy</string>
	<key>PROJECT_ID</key>
	<string>todo-7c90f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-7c90f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201354427562:ios:5e5ccffb15302b731a24d3</string>
</dict>
</plist>